
<center> <font face="Chalkduster" 
><h1> Bienvenue sur The Gossip Project !</h1>
<br>
<p>Voici la liste des potins :</p> </br>

<% @gossips.each do |gossip| %>
<div class="card text-white bg-dark mb-3" style="max-width: 60rem;">
  <div class="card-header">Gossip n° <%= gossip.id %> </div>
  <div class="card-body">
    <h5 class="card-title"><%= gossip.content %></h5>
    <p class="card-text"><%= gossip.author %></p>
    <p class="card-link"> <%= link_to "Page du Gossip", gossips_path(gossip.id) %></p>
  </div>
</div>
 <% end %>
</font>
</center>