<h1>Bienvenue sur The Gossip Project !</h1>
<br>
<h3>Voici la liste des potins :</h3>

<% @gossips.each do |gossip| %>
<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Gossip n° <%= gossip.id %> </div>
  <div class="card-body">
    <h5 class="card-title"><%= gossip.content %></h5>
    <p class="card-text"><%= gossip.author %></p>
    <p class="card-link"> <%= link_to "Page du Gossip", gossips_path(gossip.id) %></p>
  </div>
</div>
 <% end %>