

<center>
<%= image_tag "team.png", size:"1000x500" %> </br> </br>


<p><font face="Chalkduster"  size="4"  color="red"> La team_de_choc @Charlotte, @Joel, @Mouss, @Matthieu et @Emilie !</font></p>
</center>